/* * {
	padding: 0;
	margin: 0;
} */

body {
	text-align: center;
}

#game-canvas {
	background: #000;
	display: block;
	margin: 0 auto;
}

#instructions {
	/* display: block;
	margin: 0 auto; */
	font: 1em "Open Sans", sans-serif;
}
